* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-wrapper {
  overflow-y: auto;
}

:root {
  font-size: 62.5%;

  --hue: 194;
  --bg-img: url("/static/img/bg-desktop.jpg");
  --text-color: hsl(var(--hue), 40%, 98%);
  --primary-color: hsl(var(--hue), 100%, 63%);
  --logo-filter: invert(100%);
  --label-color: white;
  --bg-container: rgba(255, 255, 255, 0.1);
}

html.light {
  --bg-img: url("/static/img/bg-desktop-light.jpg");
  --text-color: rgba(0, 0, 0, 0.247);
  --logo-filter: invert(50%);
  --label-color: rgb(0, 0, 0);
  --bg-container: rgba(255, 53, 53, 0.13);
 
}

html.light .ph-sun,
html:not(.light) .ph-moon {
  display: none;
}

#toggle-mode {
  background-color: transparent;
  border: 0;
  color: var(--primary-color);

  cursor: pointer;

  font-size: 6.4rem;
}

#toggle-mode {
  position: absolute;
  right: 3.2rem;
  top: 3.2rem;
  font-size: 3.2rem;
  line-height: 0;

  color: var(--text-color);
}

.sr-only {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;

  margin: -1px;
  padding: 0px;
  border: 0;
  appearance: none;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-image: var(--bg-img);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  min-height: 100vh;
}

#container {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 588px;
  padding: 0 24px;
  border-radius: 5%;
  background-color: var(--bg-container);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px auto 20px;
}

#logo {
  text-align: center;
  padding: 1.5rem;
  margin-bottom: 5rem;
}

#logo img {
  width: 20rem;
  filter: var(--logo-filter);
}

#submit-btn,
#cancel-btn {
  width: calc(50% - 10px);
}

#submit-btn {
  border: 0.5rem solid #55ac7d;
  width: 25rem;
  height: 5rem;
  margin: auto;
  border-radius: 2rem;
  color: #428360;
  font-weight: 550;
  margin-bottom: 50px;
  margin-right: 10px;
  cursor: pointer;
}

#submit-btn:hover {
  background-color: #55ac7d;
  border: 0.5rem solid #2e5842;
  color: #000000;
  transition: 1s;
}

#cancel-btn {
  border: 0.5rem solid #8c2f12;
  width: 25rem;
  height: 5rem;
  margin: auto;
  border-radius: 2rem;
  color: #8c2f12;
  font-weight: 550;
  margin-bottom: 50px;
  margin-left: 10px;
  cursor: pointer;
}

#cancel-btn:hover {
  background-color: #ac3a17;
  border: 0.5rem solid #4e1909;
  color: #000000;
  transition: 1s;
}

.input-wrapper input[type="text"],
.input-wrapper input[type="email"],
.input-wrapper input[type="password"],
.input-wrapper input[type="number"]{
  font-size: 1.6rem;
  font-weight: 550;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 0rem;
  margin-bottom: 0.5rem;
  outline: none;
  text-indent: 5px;
}

.input-wrapper {
  position: relative;
  width: 100%;
  color: azure;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-wrapper i {
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 1.8rem;
  right: 0.3rem;
  color: #000000;
}

.radio-wrapper {
  flex-direction: row;
}

.radio-wrapper input[type="radio"] {
  margin-right: 2px;
}

.radio-wrapper input[type="radio"]#price-hourly {
  margin-left: 10px;
}

.radio-wrapper input[type="radio"]#price-daily {
  margin-left: 10px;
}

.radio-wrapper input[type="radio"]:checked + label {
  color: #0af531;
}

.radio-wrapper input[type="radio"]:checked + label::before {
  background-color: #ff0000;
  border-color: #ff0000;
}

.input-wrapper label {
  margin-right: 0px;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--label-color);
}

.input-wrapper span {
  margin-right: 0px;
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--label-color);
}

.input-wrapper .error-message {
  color: #dc3545;
  font-size: 1.4rem;
  margin-top: 0.5rem;
}

.error-message {
  position: absolute;
  bottom: -1.5rem;
  left: 0;
  color: #dc3545;
  font-size: 1.4rem;
  margin-top: 0.5rem;
  max-height: 2rem;
  overflow: hidden;
}

body,
#container,
#logo,
.input-wrapper label,
.input-wrapper input,
button[id="submit-btn"],
button[id="cancel-btn"] {
  font-family: "Montserrat", sans-serif;
}
.radio-wrapper span {
  margin-bottom: 0rem;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
